*{
   padding: 0;
   margin: 0;
}
body{
    background: #222;
    color:#fff;
    font-family: system-ui;

}
.curds{
    width: 80%;
    margin:auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input{
    width: 100%;
    height: 30px;
    outline:none;
    border:none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding:4px; 
    color: #fff;
}

input:focus{
    background: #000;
    transform: scale(1.1);
}
.price input{
    width:20%;
}
#deleteall
{
  margin: 20px 0;

}
#total{
     background: #a00d02 ;
     padding: 5px 2px;
     border-radius: 4px;
}
#total::before{
    content:'TOTAL:';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background:  rgb(68, 1, 68);
    color:#fff;
    border-radius:20px;
    transition: 0.5s;
}
button:hover{
    background: rgb(235, 3, 235);
    letter-spacing: 1px;
    
}
.btnserch{
    display: flex;
    justify-content: space-between;
}

.btnserch button{
    width: 45%;

}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0 ;

}
table th{
    text-transform: uppercase;
}
